body {
    height:100vh;
    margin:0px;
}

header {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;

    border:4px solid red;
}
header button {
    font-size: 36px;
}

img {
    width:25vw;
}

#content {
    height:100%;
    border:4px solid blue;
}
.split-page-container {
    display: flex;
    height:100%;

    justify-content: space-around;
    align-items: center;
    border:4px solid green;
}

.left-image {
    max-width: 30vw;
    width:auto;
}

.right-half {
    display:flex;
    flex-direction: column;
    max-width: 50vw;
    align-items: center;
}

